request/
.depend
*.elc
CVS
.svn
*_flymake.el
*.log
.cvsignore
.*.lock
/tramp
/transient
/.org-id-locations
semanticdb/
*.swp
*~
abbrev_defs
TAGS
GTAGS
GPATH
GRTAGS
emms/
.\#*
projectile-bookmarks.eld
.orig
.unpacked
.last-package-update-day
.dir-locals.el
#
eaf/
elpa/
straight/
elfeed/
elpy/
yasnippet/

history
# eshell
eshell/lastdir

# emacs cache files
.lsp-session*
.session
*cache*
recentf
bookmarks
/var/